.string {
  color: #546849;
  color: #732049;
  color: #532041;
  color: #20636f;
  color: #6d706c;
  color: #657465;
  color: #205445;
  color: #53543a;
  color: #203132;
  color: #333435;
  color: #363738;
  color: #392c20;
  color: #2e2f3f;
  color: #3c3e22;
  color: #3a7b7d;
  color: #5d5b5c;
  color: #2b5f2d;
  color: #3d2140;
  color: #232425;
  color: #5e262a;
  color: #282960;
  color: #7e0000;
}