.META_DATA {
  --D_NAME: tb3;
  --D_VERSION: 0.0.1;
  --D_DC: 11-29-2024;
  --D_DESC: Test database 3;
}
.key_value_pairs {
  --key: #6b6579; 
  --value: #76616c7565;
}
.raw_data {
  color: #726177;
  color: #206461;
  color: #74612c;
  color: #203733;
  color: #2e3500;
}