.META_DATA {
  --D_NAME: tb4;
  --D_VERSION: 0.0.2;
  --D_DC: 11-29-2024;
  --D_DESC: this is test database 4;
}
.key_value_pairs {
  --key: #7468655f676f61746d346e;
  --value: #363231316e747221;
  --key: #66616c63306e;
  --value: #695f4c6f76655f34746c616e7461;
  --key: #70726f5f67616d65725f787878;
  --value: #7430676f6f6431393938;
}
.raw_data {
  color: #546865;
  color: #206162;
  color: #6f7665;
  color: #207573;
  color: #65726e;
  color: #616d65;
  color: #732061;
  color: #6e6420;
  color: #617373;
  color: #6f6369;
  color: #617465;
  color: #642070;
  color: #617373;
  color: #776f72;
  color: #647320;
  color: #617265;
  color: #206e6f;
  color: #742074;
  color: #6f2062;
  color: #652074;
  color: #616d70;
  color: #657265;
  color: #642077;
  color: #697468;
  color: #2e0000;
}