.key_value_pairs {
  --key: #6a696d6d795f63757272656e745f616765; 
  --value: #3132;
  --key: #6a696d6d795f6167655f6e6578745f6d6f6e7468; 
  --value: #3133;
  --key: #6a696d6d79; 
  --value: #3132;
}
.raw_data {
  color: #4a696d;
  color: #6d7920;
  color: #697320;
  color: #676f69;
  color: #6e6720;
  color: #746f20;
  color: #747572;
  color: #6e2031;
  color: #33206e;
  color: #657874;
  color: #206d6f;
  color: #6e7468;
}